.event-creation-top-section {
  padding: 3em 3em 0em 3em;
  background-color: white;
  border: 1px solid #c4c4c4;
}

.user-icon {
  display: flex;
  margin-left: auto;
  align-self: center;
}
.user-text {
  margin-right: 0.5em;
}
.next-container {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}
.back-container {
  position: absolute;
  right: 20rem;
  bottom: 4rem;
}

.event-form {
  padding: 30px;
}
