.landing-wrapper {
  background-color: #f0f0f0;
  min-height: 100vh;
}

.landing-top-bar {
  display: flex;
  padding-bottom: 2em;
}

.landing-top-section {
  padding: 3em 3em 0em 3em;
  background-color: white;
}
.landing-body {
  padding: 70px 56px 168px 56px;
}

.user-icon {
  display: flex;
  margin-left: auto;
  align-self: center;
}
.user-text {
  margin-right: 0.5em;
}
.add-event-container {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
}
