.resource-creation-top-section {
  margin: 48px 30px 0px 30px;
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
}

.resource-header {
  display: flex;
  padding: 16px 0px;
}

.resource-add-wrapper {
  background-color: white;
}

.top-bar-link {
  margin-bottom: 1em;
}

.caption {
  margin-top: 1em;
}

.done-container {
  position: absolute;
  right: 2rem;
  bottom: 4rem;
}
.cancel-container {
  position: absolute;
  left: 2rem;
  bottom: 4rem;
}

.event-form {
  padding: 30px;
}